<!-------<nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
  <a class="navbar-brand" href="index.ejs">
    <img src="/img/logo.png" width="100" height="80" alt="logo" />
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarToggler01" aria-controls="navbarToggler01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler01">

    <div class="navbar-nav mr-auto text-center">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/products">Productos</a>
    </div>



    <div class="navbar-nav text-center">

     

    </div>


  </div>

  <form class="form-inline form-buscar mr-sm-12 mr-md-12 mr-lg-12" action="/search" method="GET">
    <input class="form-control inp-buscar" type="text" name="keywords" placeholder="Buscar" />
    <button class="btn btn-success btn-buscar" type="submit">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </form>
</nav>


---------->



<header>




  <nav class="principal">
    <!-- Navbar content ---style="background-color: #e3f2fd;-->

    <div class="navbar navbar-light">


      <p class='bienvenido'><i class="fas fa-door-open"></i>¡Bienvenid@!</p>
      <p class="shop">E-commerce<i class="fas fa-store"></i> </p>



      <form action="/search" method="GET">
        <input class="borderSearch" type="text" name="keywords" placeholder="Search">

        <button type="submit" class="searchButton">Search <i class="fas fa-search"></i>
        </button>
      </form>

    </div>


    <div class="menu" id="menuLink">
      <ul>

        <li><i class="fas fa-home"></i><a href="/"> Home</a></li>
        <li><i class="fab fa-product-hunt"></i><a href="/products">Productos</a></li>

        <!------------------------------------------------->
        <% if (typeof user != 'undefined') { %>

        <li><i class="fas fa-user-alt"></i><a href="/users/profile"></i>Perfil</a></li>


        <% if ( user.categoria=="admin" || user.categoria=="dueño") { %>

        <li><i class="fas fa-chart-line"></i><a href="/dashboard">Dashboard</a></li>

        <% } %>

        <li><i class="fas fa-sign-out-alt"></i><a href="/users/logout"></i>Salir</a></li>
        <% } else {%>


        <!---------------------------------------------->
        <li><i class="fas fa-sign-in-alt"></i><a href="/users/login">Ingresar</a></li>
        <li><i class="fas fa-registered"></i><a href="/users/register">Registrarse</a></li>

        <% } %>
      </ul>



    </div>

    <div class="menu2" id="menuLink">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-ligth p-4">
          <h5 class="text-white h4">

            <ul>

              <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
              <li><a href="/products"><i class="fab fa-product-hunt"></i>Productos</a></li>

              <!------------------------------------------------->
              <% if (typeof user != 'undefined') { %>

              <li><i class="fas fa-user-alt"></i><a href="/users/profile"></i>Perfil</a></li>


              <% if ( user.categoria=="admin" || user.categoria=="dueño") { %>

              <li><i class="fas fa-chart-line"></i><a href="/dashboard">Dashboard</a></li>

              <% } %>

              <li><i class="fas fa-sign-out-alt"></i><a href="/users/logout"></i>Salir</a></li>
              <% } else {%>


              <!---------------------------------------------->

              <li><a href="/users/login"><i class="fas fa-sign-in-alt"></i>Ingresar</a></li>
              <li><a href="/users/register"><i class="fas fa-registered"></i>Registrarse</a></li>
              <% } %>

            </ul>


          </h5>
          <span class="text-muted"></span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-ligth">
        <!---era bg-dark-  y con navbar-toggler en siguiente renglón camibio color boton---->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>

  </nav>


</header>