<%- include('partials/head', {title: 'Products'})%>
<%- include('partials/header')%>

<div class="contenedor">



    <section class="A">

        <span class="tituloFoto">Comprá cómodamente desde casa</span><br>


        <label> <i class="fab fa-searchengin"></i></i></label>
        <select class="select borderSearch">

            <option value='selected desable hidden'>Buscar por categoría </option>
            <!--desable hidden--->
            <option value='tinto '>Tinto</option>
            <option value='blanco '>Blanco</option>
            <option value='malbec '>Malbec</option>
            <option value='blend'>Blend</option>

        </select>


        <span class="encasa">#Yo me quedo en casa</span><br>
        <img src="images/tienda-vino1.jpg" alt="foto comprando desde  casa"><br>
        <br>
        <br>
        <img src="images/3cuotasr.png" alt="foto comprando desde  casa">

    </section>



    <div class="container">

        <div class="row" style="justify-content:center; align-items:center;">

            <div class="col-12">
                <!------------------------------------------------------->
                <div class="arriba">


                    <div class="arribaB">
                        <h1 class='titulo'> <i class="fas fa-wine-bottle"></i>¡Pago Rechazado! </h1>

                        <p style=" font-style: italic;">"Catador se hace, no se nace"</p>


                    </div>



                    <section class="contacto">

                        <span><i class="fab fa-whatsapp"></i></span><br><br>

                        <span><i class="fas fa-share-alt"></i></span>

                    </section>
                </div>


            </div>


            <!--------------------------------------------------->



           









        </div>

    </div>

</div>


<!---------------------------------------------

      






<%- include('partials/footer')%>