*{
    box-sizing: border-box;
    
  }
  
  .black{
    
    color:#0B0D0C;
  }
  
  .bordo{
    
    color:#730220 ;
    color:rgba(115, 2, 32,1)
  }
  
  .gris{
    
    color:rgba(54, 49, 64,0.4)
  }
  
  .verde{
    
    color:#034001;
    color:rgb(3, 64, 1)
  }


  .titulo{
  
    font-family: 'Zilla Slab', serif;
    color:#0D0D0D;
    
    
  }
  
  .arriba{
    
    text-align: center;
  }
  
  .contenedor {
  
    background-image:url("/images/banner2.jpg"); 
  
   
    background-size: 40%;
    
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    
   
    
  }
  
  
  
  
  .A {
    
    padding:15px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-right: solid;
    border-color:rgba(54, 49, 64,0.4) ;
    
    
    
  }
  
  .container{
    
    
    background-color: whitesmoke;
    
    
    
    
    
  }
  
  
  .encasa{
    position: relative;
    top: 100px;
    z-index: 20;
    text-align: center;
    /*color: rgba(31, 30, 28, 0.7);*/
    color:white;
    font-weight: 800;
    padding-left: 20px;
    background-color: rgba(54, 49, 64,0.3) ;
  }
  
  .A img{
    
    width: 100%;
    z-index: 10;
    
    
    
  }
  
  .tituloFoto{
    
    margin-top: 50px;
    font-family:'Zilla Slab', serif;
    text-align: center;
    font-size: 1.3em;
    color:white;
    background-color: rgba(54, 49, 64,0.3) ;
    
    
  }
  
  
  .fa-wine-bottle{
  
    color:#034001
  }

  .fa-share-alt{
  
    color:#034001
  }
  

  /*---------------Productos todos-----------------------*/

 #colorF
{

  margin-top:200px;
  text-align: center;
}
   

  @media(max-width: 705px){
  
  
    .encasa{
      font-size: 0.7em;
      top:70px
    }
    
    
    
    .arriba{
      
      font-size: smaller;
      margin-top: 20px;
    }
  }
  
  
  
  @media(max-width: 425px){
    
    
    .arriba{
      
      margin-top: 215px;
    }
    
    
    
    .titulo{
      font-size: 1.5em;
      
    }
    
    
    .contenedor{
      background-size: 100%;
      flex-direction: column-reverse;
      margin-top: 180px;
    }
    .A {
      
      padding:5px;
      width: 100%;   
      border: solid;
     /* border-color:rgba(54, 49, 64,0.4) ;*/
      border-color: rgba(3, 64, 1,0.4);
    }
    
    .encasa{
      font-size: 1em;
      top:100px
    }
    
    
  }
  
  @media(min-width:425px){
    
   
    .titulo{
      
      font-size: 1.8em;
      padding-top: 50px;
    }
    
  }
  
  
  
  
  .pie-footer{
    background-color : #034001 !important;
    color: white;
  }
  .pie-footer h6{
    font-size: 12px;
    padding:3px;
  }
  
   #footer .bg-ligth {
      background-color:#730220;



  }

  #footer{

    color:white
  }

  #footer i{

    background-color: white;

    padding:5px;

    border-radius: 3px;
  }

  .fa-whatsapp-square{

    color:#2BCC1A
  }

  .fa-instagram-square{

    color: #d303fc
  }