
.product-box{
    margin-top: 50px;
   /* border: solid;
    border-color: #712B42;
    border-radius: 5px;*/
    padding: 25px;
    margin-bottom: 50px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 15px -1px #034001;
  }
  
 .product-box_data {
      color:#730220 ;
      font-size: 0.8em;
   
   
  }
  .product-box_data:hover {   

color:#034001
  }

  .btn-success{

    background-color:#034001 ;
  }
 
  .product-box img{ 

    width: 100%;



  }

  a:-webkit-any-link{
    color:black;
    text-decoration: none;
  }

  .productsTitle{
  font-family: 'Zilla Slab', serif;
  color:#0D0D0D;
  }

  a:-webkit-any-link{

    cursor:no-drop
  }
  