<div class='container-fluid' id='registroC'>
    <div class='row' id='form'>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" id="registro">



            <h3>Alta de productos</h3>


            <p>Por favor llene los campos indicados </p>



            <form action='/products/create' method='POST' enctype='multipart/form-data'>



                <label for='nombre'>Nombre</label></br>
                 <input type='text' name='nombre' id='nombre' class='uno'></br>

                <label for='color'>Color</label></p>
                <input type='text' name='color' id='color' class='uno'></br>

                <label for='categoría'>Categoría</label></br>
                <input type='text' name='categoría' id='categoría' class='uno'></br>

                <label for='variedad'>Variedad</label></br>
                <input type='text' name='variedad' id='variedad' class='uno'></br>

                <label for='precio'>Precio</label></br>
                <input type='number' name='precio' id='precio' class='uno'></br>

                <label for='descuento'>Descuento</label></br>
                <input type='number' name='descuento' id='descuento' class='uno'></br>

                <label for='cantidad'>cantidad</label></br>
                <input type='number' name='cantidad' id='cantidad' class='uno'></br>

                <label for='descripcionCorta'>Descripción Corta</label></br>
                <textarea name='descripcionCorta' id='descripcionCorta' style='background-color: white;'
                        class='uno'></textarea></br>



                <label for='crianza'>crianza</label></br>
                <textarea name='crianza' id='crianza' style='background-color: white;' class='uno'></textarea></br>

                <label for='descripcionLarga'>Descripción Larga</label></br>
                <textarea name='descripcionLarga' id='descripcionLarga' style='background-color: white;'
                        class='uno'></textarea></br>



                <label for='imagen'>Foto de producto</label></br>
                 <p id="avatar"  >
                        <input accept=".jpg,.png,.jpeg,.gif" name="imagen" type="file" id="imagen" class='uno' >
               </p>
                        <button type="submit" class="btn btn-primary" id="btn-form">Guardar</button><br>


            </form>


        </div>
    </div>
</div>